{% extends "auctions/layout.html" %}

{% block title %} Auction | Watchlist {% endblock %}
{% block body %}
<div class="watchlist_container">
    <h2 id="watchlist_header">My watchlist</h2>
    <div class="category_item_grid">
        {% for article in watched_articles %}
                <div class="category_item_container">
                    <div class="category_item_image_container">
                        <img class="category_item_image" src="{{article.image_url}}" title="{{article.title}}" alt="{{article.title}}">
                    </div>
                    <div class="category_item_info">
                        <h4><strong>{{article.title}}</strong></h4>
                        {% if article.TotalBiders == 0 %}
                            <p><strong>Starting bid:</strong> ${{article.starting_bid}}.00</p>
                        {% else %}
                            <p><strong>Current bid:</strong> ${{article.current_bid}}.00</p>
                        {% endif %}
                        <p><strong>Bids:</strong> {{article.TotalBiders}}</p>
                        <p><strong>Seller:</strong> <a href="{% url 'profile_all' article.author  %}">{{article.author}}</a></p>
                        <button class="btn btn-primary" id="see_more_btn"><a href="../../auctions/{{article.title}}" id="category_item_btn_anchor"><strong>See more >></strong></a></button>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>


{% endblock %}